{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="badshah">

  <div class="dev_div">
    <img src="/images/skull.gif" />
    <span>Developed by
      <a href="https://www.instagram.com/_faiyaz_shaikh/" target="_blank" >Faiyaz shaikh</a> currently 19 living in Mumbai.</span>
    <span>He's a full-stack developer and mostly writes code in JavaScript as it's his favourite language. And why he is programmer
      - 'coz he thinks programming languages can make anyone a magician!!</span>
    <span>Other Interests:</span>
    <span>Travelling</span>
    <span>Literature</span>
    <span>Paintings</span>
    <span>Nature - (Reason why I love travelling)</span>
    <span>... and much more</span>
    <div class="dev_div_links">
      <a href="mailto:www.admin@gmail.com" target="_blank" class="sec_btn">Mail</a>
      <a  target="_blank" class="sec_btn">GitHub</a>
      <a  target="_blank" class="sec_btn">Quora</a>
      <a  target="_blank" class="sec_btn">Facebook</a>
    </div>
    <iframe
      frameborder="0" scrolling="0" width="220px" height="30px"
    ></iframe>
  </div>

</div>

{{> footer}}
